* {
    font-family: sans-serif;
}    
body, p, h1, h2 {
    margin: 0px;
    padding: 0px;
}

.header {
    height: 60px;
    width: 100%;
    justify-content: space-around;
}

.header, .hero {
    display: flex;
    align-items: center;
    background-color: #1f2937;
}

.hero {
    height: 400px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.header .headerLogo {
    font-size: 24px;
    color: #F9FAF8;
}

.header .linksList {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
    gap: 20px;
}

.header .linksList a, .hero .leftHero p {
    color: #E5E7EB;
    font-size: 18px;
}

.header .linksList a {
    text-decoration: none;
}

.hero .leftHero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    height: 60%;
    width: 30%;
}

.hero .leftHero h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 700;
}

.hero .leftHero p {
    margin-bottom: 10px;
}

.hero .rightHero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 210px;
    width: 430px;
    background-color: rgb(133, 128, 128);
    color: #f9faf8;
}

.hero .leftHero button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    border: 0px;
    padding: 5px 20px;
    font-size: 18px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 100%;
    gap: 50px;
}

.information h2 {
    font-size: 36px;
    font-weight: 700;
    color: #1f2937;

}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.container .image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 150px;
    gap: 10px;
    text-align: center;
}

.container .image img {
    display: flex;
    height: 150px;
    width: 150px;
    border: 5px solid rgb(91, 157, 255);
    border-radius: 12px;
}

.quotation {
    height: 400px;
    width: 100%;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}

.quotation .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.quotation .container .quote {
    display: block;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
    align-self: center;
}

.quotation .container .say {
    font-size: 18px;
    font-weight: bolder;
    color: #1f2937;
    align-self: flex-end;
}

.callToAction {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
}

.callToAction .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40%;
    width: 70%;
    background-color: #3882F6;
    border-radius: 8px;
}

.callToAction .container button {
    background-color: #3882F6;
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    padding: 5px 30px;
}

.footer {
    height: 80px;
    width: 100%;
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}